---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-automated
  namespace: medienmanagement
spec:
  chartRef:
    kind: OCIRepository
    name: calibre-web-automated
    namespace: medienmanagement
  interval: 1h
  values:
    controllers:
      calibre-web-automated:
        annotations:
          reloader.stakater.com/search: "true"
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: V3.1.4
            env:
              TZ: "Europe/Berlin"
              PUID: 1000
              PGID: 1000
              CACHE_DIR: /cache
              NETWORK_SHARE_MODE: "true"
              S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES: "1"
              S6_READ_ONLY_ROOT: "1"
              HARDCOVER_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: *app
                    key: HARDCOVER_TOKEN
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
                add:
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 8083
    persistence:
      config:
        existingClaim: calibre-web-automated-pvc
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /cache
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.ri3d.me"
        parentRefs:
          - name: envoy
            namespace: envoy-gateway