---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: medienmanagement
spec:
  chartRef:
    kind: OCIRepository
    name: jellyfin
    namespace: medienmanagement
  interval: 1h
  values:
    controllers:
      jellyfin:
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.6
            env:
              TZ: Europe/Berlin
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 8096
    persistence:
      config:
        existingClaim: jellyfin-pvc
      media:
        type: nfs
        server: 10.0.1.8
        path: /volume1/Medienbibliothek/Medien
        globalMounts:
          - path: /mnt/Medienbibliothek/Medien
      tmps:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
                subPath: cache
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.ri3d.me"
        parentRefs:
          - name: envoy
            namespace: envoy-gateway