---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-pvc
  namespace: medienmanagement
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi