apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-configmap
  namespace: medienmanagement
data:
  recyclarr.yml: |
    sonarr:
      sonarr_main:
        base_url: http://sonarr.medienmanagement.svc.cluster.local:8989
        api_key: !env_var SONARR_API_KEY

        delete_old_custom_formats: true
        replace_existing_custom_formats: true

        quality_definition:
          type: series

        # Serien: nur 1080p
        # Anime: 720p + 1080p
        quality_profiles:
          - name: DE WEB 1080p
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: Web-1080p
              until_score: 35000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: Web-1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p

          - name: DE Anime WEB 720-1080
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: Web-1080p
              until_score: 35000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: Web-1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p
              - name: Web-720p
                qualities:
                  - WEBDL-720p
                  - WEBRip-720p
              - name: HDTV-720p

        custom_formats:
          - trash_ids:
              # --- Sprache (DE bevorzugt) ---
              - ed51973a811f51985f14e2f6f290e47a # German DL
              - c5dd0fd675f85487ad5bdf97159180bd # German DL (undefined)
              - 8a9fcdbb445f2add0505926df3bb7b8a # German
              - 133589380b89f8f8394320901529bac1 # Not German or English

              # --- German HQ Source Groups ---
              - 68be37323132b35cf333c81a2ac8fc16 # German Web Tier 01
              - f51b96a50b0e6196cb69724b7833d837 # German Web Tier 02
              - bda67c2c0aae257308a4723d92475b86 # German Web Tier 03
              - 7940b2fb0278f27cf4f70187f2be95d6 # German Bluray Tier 01
              - 83b336a90d90d6b35ca673b007f80661 # German Bluray Tier 02
              - d8f8e1539827967e0e564833e6c08d33 # German Bluray Tier 03
              - c2eec878fa1989599c226ce4c287d6a7 # German Scene (fallback)

              # --- Streaming Services ---
              - d660701077794679fd59e8bdf4ce3a29 # AMZN
              - f67c9ca88f463a48346062e8ad07713f # ATVP
              - 4e9a630db98d5391aec1368a0256e2fe # CRAV
              - 36b72f59f4ea20aad9316f475f2d9fbb # DCU
              - 89358767a60cc28783cdc3d0be9388a4 # DSNP
              - 7a235133c87f7da4c8cccceca7e3c7a6 # HBO
              - a880d6abc21e7c16884f3ae393f84179 # HMAX
              - f6cce30f1733d5c8194222a7507909bb # HULU
              - 0ac24a2a68a9700bcb7eeca8e5cd644c # iT
              - 81d1fbf600e2540cee87f3a23f9d3c1c # MAX
              - d34870697c9db575f17700212167be23 # NF
              - b2b980877494b560443631eb1f473867 # NLZ
              - fb1a91cdc0f26f7ca0696e0e95274645 # OViD
              - 1656adc6d7bb2c8cca6acfb6592db421 # PCOK
              - c67a75ae4a1715f2bb4d492755ba4195 # PMTP
              - 3ac5d84fce98bab1b531393e9c82f467 # QIBI
              - c30d2958827d1867c73318a5a2957eb1 # RED
              - ae58039e1319178e6be73caab5c42166 # SHO
              - 1efe8da11bfd74fbbcd4d8117ddb9213 # STAN
              - 5d2317d99af813b6529c7ebf01c83533 # VDL
              - 77a7b25585c18af08f60b1547bb9b4fb # CC

              # --- Allowed Scene groups / WEB tiers ---
              - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene (allowed Scene groups)
              - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01
              - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02
              - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03

              # --- Repacks / Propers ---
              - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper
              - eb3d5cc0a2be0db205fb823640db6a3c # Repack v2
              - 44e7c4de10ae50265753082e5dc76047 # Repack v3

              # --- Unwanted ---
              - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK
              - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ
              - e2315f990da2e2cbfc9fa5b7a6fcfe48 # LQ (Release Title)
              - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD)
              - fbcb31d8dabd2a319072b84fc0b7249c # Extras
              - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups
              - 82d40da2bc6923f41e14394075dd4b03 # No-RlsGroup
              - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated
              - 06d66ab109d4d2eddb2794d21526d140 # Retags
              - 9c14d194486c4014d422adc64092d794 # Dubs Only

            quality_profiles:
              - name: DE WEB 1080p
              - name: DE Anime WEB 720-1080

    radarr:
      radarr_main:
        base_url: http://radarr.medienmanagement.svc.cluster.local:7878
        api_key: !env_var RADARR_API_KEY

        delete_old_custom_formats: true
        replace_existing_custom_formats: true

        quality_definition:
          type: movie

        # Filme: nur 1080p
        quality_profiles:
          - name: DE HD-1080p
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: Bluray-1080p
              until_score: 35000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p

        custom_formats:
          - trash_ids:
              # --- Sprache (DE bevorzugt) ---
              - f845be10da4f442654c13e1f2c3d6cd5 # German DL
              - 6aad77771dabe9d3e9d7be86f310b867 # German DL (undefined)
              - 86bc3115eb4e9873ac96904a4a68e19e # German
              - 4eadb75fb23d09dfc0a8e3f687e72287 # Not German or English

              # --- German HQ Source Groups ---
              - a2ab25194f463f057a5559c03c84a3df # German Web Tier 01
              - 08d120d5a003ec4954b5b255c0691d79 # German Web Tier 02
              - 439f9d71becaed589058ec949e037ff3 # German Web Tier 03
              - 54795711b78ea87e56127928c423689b # German Bluray Tier 01
              - 1bfc773c53283d47c68e535811da30b7 # German Bluray Tier 02
              - aee01d40cd1bf4bcded81ee62f0f3659 # German Bluray Tier 03
              - 2d136d4e33082fe573d06b1f237c40dd # German Scene (fallback)

              # --- HQ Release Groups (WEB tiers) ---
              - c20f169ef63c5f40c2def54abaf4438e # WEB Tier 01
              - 403816d65392c79236dcb6dd591aeda4 # WEB Tier 02
              - af94e0fe497124d1f9ce732069ec8c3b # WEB Tier 03

              # --- Audio metadata ---
              - 496f355514737f7d83bf7aa4d24f8169 # TrueHD Atmos
              - 2f22d89048b01681dde8afe203bf2e95 # DTS X
              - 417804f7f2c4308c1f4c5d380d4c4475 # ATMOS (undefined)
              - 1af239278386be2919e1bcee0bde047e # DD+ Atmos
              - 3cafb66171b47f226146a0770576870f # TrueHD
              - dcf3ec6938fa32445f590a4da84256cd # DTS-HD MA
              - a570d4a0e56a2874b64e5bfa55202a1b # FLAC
              - e7c2fcae07cbada050a0af3357491d7b # PCM
              - 8e109e50e0a0b83a5098b056e13bf6db # DTS-HD HRA
              - 185f1dd7264c4562b9022d963ac37424 # DD+
              - f9f847ac70a0af62ea4a08280b859636 # DTS-ES
              - 1c1a4c5e823891c75bc50380a6866f73 # DTS
              - 240770601cc226190c367ef59aba7463 # AAC
              - c2998bd0d90ed5621d8df281e839436e # DD

              # --- Streaming Services ---
              - b3b3a6ac74ecbd56bcdbefa4799fb9df # AMZN
              - 40e9380490e748672c2522eaaeb692f7 # ATVP
              - cc5e51a9e85a6296ceefe097a77f12f4 # BCORE
              - f6ff65b3f4b464a79dcc75950fe20382 # CRAV
              - 16622a6911d1ab5d5b8b713d5b0036d4 # CRiT
              - 84272245b2988854bfb76a16e60baea5 # DSNP
              - 509e5f41146e278f9eab1ddaceb34515 # HBO
              - 5763d1b0ce84aff3b21038eea8e9b8ad # HMAX
              - 526d445d4c16214309f0fd2b3be18a89 # Hulu
              - 2a6039655313bf5dab1e43523b62c374 # MA
              - 6a061313d22e51e0f25b7cd4dc065233 # MAX
              - 170b1d363bd8516fbf3a3eb05d4faff6 # NF
              - fbca986396c5e695ef7b2def3c755d01 # OViD
              - bf7e73dd1d85b12cc527dc619761c840 # Pathe
              - c9fd353f8f5f1baf56dc601c4cb29920 # PCOK
              - e36a0ba1bc902b26ee40818a1d59b8bd # PMTP
              - c2863d2a50c9acad1fb50e53ece60817 # STAN

              # --- Misc ---
              - e7718d7a3ce595f289bfee26adc178f5 # Repack/Proper
              - ae43b294509409a6a13919dedd4764c4 # Repack2

              # --- Unwanted ---
              - ed38b889b31be83fda192888e2286d83 # BR-DISK
              - 90a6f9a284dff5103f6346090e6280c8 # LQ
              - e204b80c87be9497a8a6eaff48f72905 # LQ (Release Title)
              - dc98083864ea246d05a42df0d05f81cc # x265 (HD)
              - b8cd450cbfa689c0259a01d9e29ba3d6 # 3D
              - bfd8eb01832d646a0a89c4deb46f8564 # Upscaled
              - 0a3f082873eb454bde444150b70253cc # Extras
              - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated

            quality_profiles:
              - name: DE HD-1080p
