---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openclaw
  namespace: openclaw
spec:
  chartRef:
    kind: OCIRepository
    name: openclaw
    namespace: openclaw
  interval: 1h
  values:
    controllers:
      openclaw:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/openclaw/openclaw
              tag: 2026.2.6
            command:
              - node
              - dist/index.js
              - gateway
              - --bind
              - lan
              - --port
              - "18789"
              - --allow-unconfigured
              - --trusted-proxies
              - "10.244.0.0/16"
            env:
              TZ: Europe/Berlin
              OPENCLAW_GATEWAY_TOKEN: 1234
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: openclaw
        ports:
          http:
            port: 18789
    persistence:
      data:
        enabled: true
        existingClaim: openclaw-pvc
        globalMounts:
          - path: /home/node/.openclaw
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.ri3d.me"
        parentRefs:
          - name: envoy
            namespace: envoy-gateway