---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr
  namespace: medienmanagement
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sonarr-secret
    template:
      data:
        SONARR__AUTH__APIKEY: "{{ .SONARR__AUTH__APIKEY }}"
  dataFrom:
    - extract:
        key: laulcr4rcbazyvanr2cteb4xfq