---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: thelounge
  namespace: thelounge
spec:
  chartRef:
    kind: OCIRepository
    name: thelounge
    namespace: thelounge
  interval: 1h
  values:
    controllers:
      thelounge:
        containers:
          app:
            image:
              repository: ghcr.io/thelounge/thelounge
              tag: 4.4.3@sha256:c2aa0916203b298ffaf3a36c4eb60ef73c1006448d430e218d37840472e84e50
            env:
              THELOUNGE_HOME: /config
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 9000
    persistence:
      config:
        existingClaim: thelounge-pvc
    route:
      app:
        hostnames:
          - "tl.ri3d.me"
        parentRefs:
          - name: envoy
            namespace: envoy-gateway