---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: thelounge-pvc
  namespace: thelounge
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi
