---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
    namespace: external-secrets
  interval: 1h
  values:
    leaderElect: true
    serviceMonitor:
      enabled: false
    grafanaDashboard:
      enabled: false
    webhook:
      replicaCount: 2