---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword
  namespace: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: onepassword
    namespace: external-secrets
  interval: 1h
  values:
    controllers:
      onepassword:
        containers:
          api:
            image:
              repository: ghcr.io/1password/connect-api
              tag: 1.8.1
            env:
              XDG_DATA_HOME: &configDir /config
              OP_HTTP_PORT: &apiPort 80
              OP_BUS_PORT: 11220
              OP_BUS_PEERS: localhost:11221
              OP_SESSION:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-secret"
                    key: 1password-credentials.json
            resources: &resources
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
          sync:
            image:
              repository: ghcr.io/1password/connect-sync
              tag: 1.8.1
            env:
              XDG_DATA_HOME: *configDir
              OP_HTTP_PORT: &syncPort 8081
              OP_BUS_PORT: 11221
              OP_BUS_PEERS: localhost:11220
              OP_SESSION:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-secret"
                    key: 1password-credentials.json
                    namespace: external-secrets
            resources: *resources
            securityContext: *securityContext
    service:
      app:
        ports:
          http:
            port: *apiPort
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: *configDir