---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  chartRef:
    kind: OCIRepository
    name: cert-manager
    namespace: cert-manager
  interval: 1h
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"
    installCRDs: true
    crds:
      enabled: true
    extraArgs:
      - --dns01-recursive-nameservers=8.8.8.8:53,1.1.1.1:53
      - --dns01-recursive-nameservers-only
    podDnsPolicy: None
    podDnsConfig:
      nameservers:
        - "1.1.1.1"
        - "1.0.0.1"