---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
  namespace: medienmanagement
spec:
  chartRef:
    kind: OCIRepository
    name: navidrome
    namespace: medienmanagement
  interval: 1h
  values:
    controllers:
      navidrome:
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.59.0
            env:
              TZ: "Europe/Berlin"
              ND_DATAFOLDER: /data
              ND_ENABLEGRAVATAR: "true"
              ND_LOGLEVEL: info
              ND_MUSICFOLDER: /mnt/Medienbibliothek/Medien/Musik
              ND_PORT: &port 4533
              ND_SCANSCHEDULE: 30min
              ND_SESSIONTIMEOUT: 24h
              ND_BASEURL: https://navidrome.ri3d.me
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    persistence:
      data:
        existingClaim: navidrome-pvc
      media:
        type: nfs
        server: 10.0.1.8
        path: /volume1/Medienbibliothek
        globalMounts:
          - path: /mnt/Medienbibliothek
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.ri3d.me"
        parentRefs:
          - name: envoy
            namespace: envoy-gateway