---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
  namespace: pocket-id
spec:
  chartRef:
    kind: OCIRepository
    name: pocket-id
    namespace: pocket-id
  interval: 1h
  values:
    controllers:
      main:
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.1.0
            env:
              DB_CONNECTION_STRING: file:/app/data/pocket-id.db?_journal_mode=WAL&_busy_timeout=2500&_txlock=immediate
              APP_URL: https://auth.ri3d.me
              TRUST_PROXY: true
              TZ: Europe/Berlin
              UPLOAD_PATH: /app/data/uploads
              ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: pocket-id-secret
                    key: ENCRYPTION_KEY
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 250M
              limits:
                memory: 400M
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 1411
    persistence:
      config:
        existingClaim: pocket-id-pvc
        globalMounts:
          - path: /app/data
      var:
        type: emptyDir
        sizeLimit: 1Gi
    route:
      app:
        hostnames:
          - "auth.ri3d.me"
        parentRefs:
          - name: envoy
            namespace: envoy-gateway
