---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pocket-id-pvc
  namespace: pocket-id
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi